@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-Bold.woff2') format('woff2'),
        url('BioSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-ExtraBold.woff2') format('woff2'),
        url('BioSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-ExtraLight.woff2') format('woff2'),
        url('BioSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-Light.woff2') format('woff2'),
        url('BioSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-Regular.woff2') format('woff2'),
        url('BioSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bio Sans';
    src: url('BioSans-SemiBold.woff2') format('woff2'),
        url('BioSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

